<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>
<body style="color: aliceblue; background-color:rgb(126, 58, 182);">
    <center>
    <div class="navbar" style="color:black; background-color:powderblue">
        <h1>Navbar Working</h1>
        <a href="/api/home">Home</a>
        <a href="/api/profile">Profile</a>
        <a href="/api/logout">Logout</a>
    </div>
    <h1>Change Password</h1>
    <form id="changePassword">
        <label for="password"><b>New Password</b></label>
        <input type="password" id="newPassword" autocomplete="off" placeholder="Password"/>

        <label for="password"><b>Confirm New Password</b></label>
        <input type="password" id="confirmNewPassword" autocomplete="off" placeholder="Confirm Password"/>

        <input type="submit" value="Apply Changes"/>
    </form>
    <script type="text/javascript">
        const form=document.getElementById("changePassword")
        form.addEventListener("submit",changePasswordUser)

        //We can send data as JSON popular among Node while using JS
        //OR 
        //We can send data as URLencoded which is the default format and popular among PHP

        async function changePasswordUser(event)
        {
            event.preventDefault()
            const password=document.getElementById("newPassword").value
            const cpassword=document.getElementById("confirmNewPassword").value
            const result = await fetch("/api/changepassword",{
                method:'POST',
                headers:{
                    'Content-Type':'application/json'
                },
                body:JSON.stringify({
                    newpassword:password,
                    cnewpassword:cpassword,
                    token:localStorage.getItem("token")
                })
            }).then((res)=>res.json())

            console.log(result)
            if (result.status === "OK") {
                //means everything went fine
                window.alert("Password Change Successful")
                window.location.href="/api/login"
            } else {
                window.alert(result.error);
            }
        }
    </script>
</body>
</html>